.main {
    display: flex;
    justify-content: center;
}

.background {
    padding: 15px;
    border: solid 1px;
    background-color: rgb(212, 212, 212);
}

.menu {
    text-align: center;
}

.option {
    display: flex;
    padding: 7px;
    justify-content: center;
    
}

.left {
    width: 380px;
}

.right {
    width: 180px;
    display: flex;
    justify-content: right;
}

.list {
    width: 150px;
}


